<mat-card class="character-card">
    <mat-card-header>
      <mat-card-title class="card-title" matTooltipPosition="above">
        {{ death.death }}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="death.img" [src]="death.img" alt="">
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <h3 matLine class="card-content-title">Causa</h3>
                <p class="card-content-description">{{ death.cause }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3 matLine>Responsable</h3>
                <p class="card-content-description">{{ death.responsible }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3 matLine>Ultimas Palabras</h3>
                <p class="card-content-description">{{ death.last_words }}</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>