<div class="container">
    <div>
        <p>Puedes ver los personajes según la seríe presiona en los enlaces:</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="onSearchBySerieName('')" value="bold">Ver todos</mat-button-toggle>
            <mat-button-toggle (click)="onSearchBySerieName('Breaking Bad')" value="italic">Breaking Bad</mat-button-toggle>
            <mat-button-toggle (click)="onSearchBySerieName('Better Call Saul')" value="underline">Better Call Saul</mat-button-toggle>
        </mat-button-toggle-group>

    <div>
        <app-search-character (filter)="onSearch($event)" (tryLuck)="onTryLuck($event)"></app-search-character>
    </div>

    <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
    <div>
        <div class="text-center" *ngIf="characterList.length > 1">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel='Anterior' nextLabel='Siguiente' id='characterGrid'></pagination-controls>
        </div>  
        <div class="card-grid">
            <app-character *ngFor="let character of characterList | paginate: { id: 'characterGrid', 
                            itemsPerPage: pageSize, 
                            currentPage: page, 
                            totalItems: totalRecords }" [character]="character"></app-character>  
        </div>
        <div class="text-center" *ngIf="characterList.length > 1">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel='Anterior' nextLabel='Siguiente' id='characterGrid'></pagination-controls>
        </div>
    </div>  
</div>
