<footer class="footer">
    <div class="container">
        <p class="text-center">Desafío final curso <span>ESCALAB</span> by Cristian Ortega @ Copyright 2020</p>
        <ul class="social_footer_ul">
            <li><a href="https://github.com/CristianOrtega"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/crisortega/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/Krizopp"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>